img {
	border: 2px solid #54C03F;
	border-radius: 50%;
}

body {
	font-family: Arial;
}

#main-header{
	background-color: #D1FAD2;
	background-color: #D1FAD2;
	padding: 10px;
}

h1 {
	color: green;
	font-variant: small-caps;
}

h3 {
	font-variant: small-caps;
}

input {
	border: 1px solid grey;
	border-radius: 5px;
	padding: 3px 5px;
	margin-bottom: 10px;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: darkgreen;
}

.cover {
	background-image: url("https://cdn.pixabay.com/photo/2016/12/22/15/50/list-1925752_1280.jpg");
	background-position: center;
	background-size: cover;
	min-height: 150px;
}